body {
  background: rgb(195, 200, 200);
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 0px;
}
.page-wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
}
/* ol,
ul {
  padding-left: 30px;
} */

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin: 10px;
  font-weight: bold;
  color: #282c34;
  text-align: center;
  font-size: 17px;
}

.square {
  background: #282c34;
  border: 0px solid #999;
  float: right;
  font-size: xx-large;
  /* font-weight: bold; */
  line-height: 34px;
  height: 14vw;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 14vw;
  margin: 3px;
  border-radius: 10px;
  color: #61dafb;
  max-width: 70px;
  max-height: 70px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.game-info {
  margin-left: 20px;
}

.footer {
  text-align: center;
  background-color: #282c34;
  color: aliceblue;
  height: 55px;
  line-height: 35px;
}

.header {
  margin-bottom: 4vh;
  text-align: center;
  background-color: #282c34;
  color: aliceblue;
  height: 55px;
  line-height: 55px;
}

h1 {
  margin: 0px;
}
p {
  margin: 0px;
}
