body {
  background: rgb(195, 200, 200);
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

/* ol,
ul {
  padding-left: 30px;
} */

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin: 10px;
  font-weight: bold;
  color: #545454;
  text-align: center;
  font-size: 17px;
}

.square {
  /* background: rgb(255, 252, 205); */
  border: 1px solid #999;
  float: right;
  font-size: xx-large;
  /* font-weight: bold; */
  line-height: 34px;
  height: 22vw;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 22vw;
  margin: 3px;
  border-radius: 10px;
  color: red;
  max-width: 70px;
  max-height: 70px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 10%;
}

.game-info {
  margin-left: 20px;
  display: none;
}
